page {
  background: #eee;
}
.block-wrapper {
  margin-top: 30px;
  // height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 65px;
  background: #eee;
}
.repair-block {
  width: 300px;
  height: 200px;
  background: #fff;
  flex-shrink: 0;
  margin-bottom: 20px;
  border-radius: 20px;
  .block-text {
    line-height: 200px;
    text-align: center;
  }
}
